service cloud.firestore {
  match /databases/{database}/documents {
    match /vacancies/{vacancy} {
      allow read, write;
    }

    match /applications/{application} {
      allow read, write;
    }
  }
}